.left-container{
    -fx-background-image: url("/view/img/backgroundAddFestival.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}

.right-container {-fx-background-color: #20062D;}
/*custom elements*/
.input-middle{-fx-pref-width: 255px;}  .input-bottom-1{-fx-pref-width: 165px;}