<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/festiair</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username"> postgres </property>
        <property name="connection.password">seguridad</property>

        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping  class="model.entities.UserEntity"/>
        <mapping  class="model.entities.FestivalEntity"/>
        <mapping  class="model.entities.GenreEntity"/>
        <mapping  class="model.entities.UserFestivalsEntity"/>
        <mapping  class="model.entities.UserGenresEntity"/>
        <mapping  class="model.entities.GenreFestivalsEntity"/>

    </session-factory>
</hibernate-configuration>